.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-1-3
{
  margin: 0 5%;
  width: 33%;
  height: 180px;
}

.size-1-2
{
  margin: 0 5%;
  max-width: 50%;
}

.hidden
{
  visibility: hidden;
}

.inline 
{
  display: inline;
}

.maxHeight
{
  max-height: 500px;
}